.*

*.pdf
*.out
*.txt
*.png
stats.json
*.html
!gh-pages/layouts/*.html

gh-pages/content/comparison/*md
!gh-pages/content/comparison/index.*md

*.dot
*.xopp

local_workflow.bash
gh.bash
*.conf

data/**/*.md

diff-outputs.bash
solver_eval
rust/flamegraph.bash
rust/archive-src.bash
