.*

*.pdf
*.txt
*.png
*.html
!gh-pages/layouts/*.html

gh-pages/content/comparison/*md
!gh-pages/content/comparison/index.*md

*.xopp

local_workflow.bash
gh.bash
*.conf

diff-outputs.bash
solver_eval
rust/flamegraph.bash
rust/archive-src.bash
