name: Run Simulation

on:
  push:
    branches:
      - main
    paths:
      - 'rust/**'
      - '!rust/src/bin/solver.rs'
      - 'data/**.yaml'
      - 'gh-pages/**'

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      sims: ${{ steps.detect_changes.outputs.sims }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: main
          fetch-depth: 0

      - name: Detect changes in inputfiles
        id: detect_changes
        run: |
          set +o pipefail

          BEFORE="${{ github.event.before }}"
          AFTER="${{ github.event.after }}"

          # Get changed files (empty on workflow_dispatch)
          CHANGED_FILES="$(git diff --name-only "$BEFORE" "$AFTER" || true)"

          # Detect rust changes excluding bin/solver.rs
          RUST_CHANGED=false
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            RUST_CHANGED=true
          elif echo "$CHANGED_FILES" | grep -qE '^rust/' ; then
              if echo "$CHANGED_FILES" | grep -qE '^rust/' \
               && ! echo "$CHANGED_FILES" | grep -qE '^rust/src/bin/solver\.rs$' ; then
              RUST_CHANGED=true
            fi
          fi

          if [[ "$RUST_CHANGED" == true ]]; then
            echo "re-generate all"
            sims="[\"$(find ./data -not -path '*/[@.]*' -type f -name '*.yaml' | sort -u | sed '{:q;N;s/\n/","/g;t q}')\"]"
          else
            echo "re-generate only required"
            sims="[\"$(echo "$CHANGED_FILES" | grep "data/[^.]*\.yaml" | sed "s/\(.*\)\.yaml$/\1/" | sort -u | sed '{:q;N;s/\n/","/g;t q}')\"]"
          fi

          echo "$sims"

          # Output the list of simulations that need to be run
          echo "sims=${sims}" >> $GITHUB_OUTPUT


  build:
    runs-on: ubuntu-latest
    outputs:
      ayto: ${{ steps.upload-artifact.outputs.ayto }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      # - uses: actions/cache@v4
      #   with:
      #     path: |
      #       ~/.cargo/bin/
      #       ~/.cargo/registry/index/
      #       ~/.cargo/registry/cache/
      #       ~/.cargo/git/db/
      #       target/
      #     key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: setup rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Build rust
        run: |
          cd rust
          cargo build --release
          # RUSTFLAGS="-C target-cpu=skylake" cargo build --settings profile.release.codegen-units=1 --settings profile.release.lto=true --release

      - name: Upload the executable
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: ayto
          path: rust/target/release/ayto


  run-sim:
    runs-on: ubuntu-latest
    needs:
      - define-matrix
      - build
    strategy:
      matrix:
        sim: ${{ fromJSON(needs.define-matrix.outputs.sims) }}
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        if: ${{ matrix.sim != '' }}
        with:
          ref: build
          fetch-depth: 0

      - name: Setup working directory
        if: ${{ matrix.sim != '' }}
        run: |
          git fetch --no-tags origin main
          git checkout -b main origin/main
          git switch build

      - name: update on main
        if: ${{ matrix.sim != '' }}
        run: |
          git config --global user.name "Updater"
          git config --global user.email "updater@example.com"
          git merge --no-ff main

      - name: Download the built tool artifact
        if: ${{ matrix.sim != '' }}
        uses: actions/download-artifact@v4
        with:
          name: ayto

      - name: Compute for ${{ matrix.sim }}
        if: ${{ matrix.sim != '' }}
        run: |
          STEM="${{ matrix.sim }}"

          SAFENAME="$(echo "${STEM}" | tr "/" "_")"
          STEMD="$(dirname ${STEM})"

          STEM="${STEM%.yaml}"

          chmod +x ./ayto

          ./ayto sim -c -o "${STEM}" "${STEM}.yaml" > "${STEM}.col.out"

          # Use $GITHUB_ENV to share variables across steps
          echo "STEM=${STEM}" >> $GITHUB_ENV
          echo "STEMD=${STEMD}" >> $GITHUB_ENV
          echo "SAFENAME=${SAFENAME}" >> $GITHUB_ENV

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: Upload simulation results
        if: ${{ matrix.sim != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: sim-results-${{ env.SAFENAME }}
          path: |
            ${{ env.STEM }}.col.out
            ${{ env.STEM }}.md
            ${{ env.STEM }}*.dot
            ${{ env.STEMD }}/stats.json
            ./data/.gitkeep

  commit-results:
    runs-on: ubuntu-latest
    needs:
      - run-sim
    steps:
      - uses: actions/checkout@v4
        with:
          ref: build
          fetch-depth: 0
      - run: |
          git fetch --no-tags origin main
          git checkout -b main origin/main
          git switch build
      - name: update on main
        run: |
          git config --global user.name "Updater"
          git config --global user.email "updater@example.com"
          git merge --no-ff main
          git push

      - name: Download simulation results
        uses: actions/download-artifact@v4
        with:
          pattern: sim-results-*  # Download all the artifacts from the matrix jobs
          path: ./data
          merge-multiple: true

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Computation results
          branch: build

  define-matrix2:
    runs-on: ubuntu-latest
    needs:
      - commit-results
    outputs:
      sims: ${{ steps.detect_changes.outputs.sims }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: build

      - name: Gather inputs to be processed
        id: detect_changes
        run: |
          sims="[\"$(find ./data/ -type f -name '*.col.out' | sed 's/.*\/\(.*\)\.col.out/\1/' | sort -u | sed '{:q;N;s/\n/","/g;t q}')\"]"
          echo "$sims"

          # Output the list of simulations that need to be run
          echo "sims=${sims}" >> $GITHUB_OUTPUT

  generate-pictures:
    runs-on: ubuntu-latest
    needs:
      - commit-results
      - define-matrix2
    strategy:
      matrix:
        sim: ${{ fromJSON(needs.define-matrix2.outputs.sims) }}
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          ref: build

      # - run: ls "./data/${{ matrix.sim }}/${{ matrix.sim }}.col.out"
      # - run: echo "${{ hashFiles('./data/${{ matrix.sim }}/${{ matrix.sim }}.col.out') }}"
      #
      # - name: Cache generated picture for ${{ matrix.sim }}
      #   uses: actions/cache@v3
      #   with:
      #     path: ./gh-pages/static/${{ matrix.sim }}
      #     key: ${{ runner.os }}-generate-pictures-${{ matrix.sim }}-${{ hashFiles('./data/${{ matrix.sim }}/${{ matrix.sim }}.col.out') }}
      #     restore-keys: |
      #       ${{ runner.os }}-generate-pictures-${{ matrix.sim }}-

      - name: Install dependencies for building assets
        run: |
          sim="${{ matrix.sim }}"
          output_dir="./gh-pages/static/${sim}"
          if [[ ! -e "${output_dir}/${sim}_tab.png" ]]; then
            sudo apt install graphviz python3 python3-pip python3-venv
            python3 -m venv venv
            source venv/bin/activate && pip install ansitoimg install-playwright==0.1.1
          fi

      - name: Compute for ${{ matrix.sim }}
        run: |
          set -x
          sim="${{ matrix.sim }}"
          input_file="./data/${sim}/${sim}.col.out"
          output_dir="./gh-pages/static/${sim}"

          # Check if the output already exists to avoid recomputing
          if [[ ! -e "${output_dir}/${sim}_tab.png" ]]; then
            echo "Generating pictures for simulation: ${sim}"

            # Generate pictures using your Python script
            source venv/bin/activate && python3 generate_png.py "${input_file}" "${output_dir}/${sim}"

            # ls -al "./data/${sim}/${sim}"*.dot
            for dot_file in "./data/${sim}/${sim}"*.dot ; do
            if [[ -e "${dot_file}" ]]; then
              name="${dot_file##*/}"
              name="${name%.dot}"
              dot -Tpdf -o "${output_dir}/${name}.pdf" "${dot_file}"
              dot -Tpng -o "${output_dir}/${name}.png" "${dot_file}"
            fi
            done

            echo "Pictures generated for ${sim}"
          else
            echo "Skipping ${sim} as pictures already exist."
          fi

      - name: Upload generated pictures as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pictures-${{ matrix.sim }}
          path: |
            ./gh-pages/static/${{ matrix.sim }}/*.png
            ./gh-pages/static/${{ matrix.sim }}/*.pdf
            ./gh-pages/static/.gitkeep

  generate-site:
    runs-on: ubuntu-latest
    needs:
      - commit-results
      - generate-pictures
    env:
      HUGO_VERSION: 0.155.2
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: build
          submodules: recursive

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"

      - name: Download picture assets
        uses: actions/download-artifact@v4
        with:
          pattern: pictures-*  # Download all the artifacts from the matrix jobs
          path: ./gh-pages/static/
          merge-multiple: true

      - name: Download the built tool artifact
        uses: actions/download-artifact@v4
        with:
          name: ayto

      - name: Build comparisons
        run: |
          chmod +x ./ayto
          ./ayto comparison gh-pages/content/comparison/de.md gh-pages/content/comparison/us.md

      - name: Build with Hugo
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: |
          cd gh-pages
          hugo \
            --gc \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./gh-pages/public

  # Deployment job
  deploy-site:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs:
      - generate-site
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
